@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1.125rem;
  font-family: Monte;
  font-weight: 500;
}
/* main{
    width: 88vw;
    margin: auto;
} */
a {
  color: black;
  text-decoration: none;
}
li {
  list-style-type: none;
}
.color {
  color: #b92c00;
}
header {
  width: 90vw;
  display: flex;
  margin: auto;
}
.nav {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* align-items: center; */
}
.navbar_logo-link {
  display: flex;
  width: 55%;
  align-items: center;
}
.navbar_logo-link li a {
  font-size: 1.125rem;
  font-weight: 700;
}
nav .logo {
  width: 25%;
}
.nav-links {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-btn {
  width: 25%;
}
.nav-btns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-weight: 700;
}
.join-us-btn {
  padding: 0.75rem 2.25rem;
  background-color: #b92c00;
  color: #ffffff;
  border-radius: 20px;
}
.event-btn {
  color: #b92c00;
  border: 1px solid #000000;
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
}
.our-believe {
  width: 73vw;
  margin: auto;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 4.25rem;
}
.doyou {
  width: 73vw;
  margin: auto;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.know_us-container {
  width: 80vw;
  margin: auto;
  padding: 2rem;
}
.know-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}
.know-us-content {
  width: 45%;
  margin-left: 2rem;
}
.know-us:nth-of-type(2) {
  flex-direction: row-reverse;
}
.core_values-section {
  width: 85%;
  margin: auto;
}
.core_values {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.core_value {
  background-color: #008db9;
  width: 350px;
  height: 300px;
  /* width: 25%; */
  border-radius: 15px;
  /* margin: auto; */
  margin: 2rem;
  height: 270px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.core_values-section h1 {
  margin: auto;
  width: fit-content;
}
.core_value p {
  margin: 0 auto;
  margin-top: 3rem;
  font-weight: 700;
  color: white;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /*Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  margin: auto;
  transform-style: preserve-3d;
  align-items: center;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /*Safari */
  backface-visibility: hidden;
  border-radius: 10px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #008db9;
  color: black;
  padding: 2rem;
}

/* Style the back side */
.flip-card-back {
  background-color: red;
  color: white;
  display: flex;
  transform: rotateX(180deg);
}
.flip-card-back p {
  width: 100%;
  margin: auto;
  padding: 1rem;
  text-align: center;
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */

.theGameChanger {
  margin: auto;
  width: 80%;
}
.theGameChanger > h1 {
  width: fit-content;
  margin: 3rem auto;
}
.about-gameChangers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about-gameChangers p {
  width: 40%;
}
.about-gameChangers img {
  width: min-content;
}
.game-changers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game-changer {
  background-color: #dbdbdb;
  width: 33%;
  border-radius: 20px 0 20px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 2rem;
  position: relative;
}
.game_changers_image img {
  width: 100%;
}
.game_changer_info {
  padding: 1.5rem;
}
.game_changer_info h3,
.game_changer_info h5 {
  font-weight: 600;
  margin: 0.5rem 0;
}
.game_changer_info p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.game-changer-social_media {
  display: flex;
  align-items: center;
}
.game-changer-social_media li {
  margin: 0.5rem 0.5rem 0 0;
}

/* Website footer */
footer {
  background-color: black;
  color: white;
}
footer a {
  color: white;
}
footer .section-1 {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
  border-bottom: 1px solid #008db9;
  transition: border-bottom 1s ease-in-out;
  width: 80%;
}
footer .section-1:hover {
  border-bottom: 1px solid red;
}
footer .section-1 p span {
  letter-spacing: 1rem;
}
footer .section-2 {
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 85%;
}
footer .section-2 .sub-section-2 {
  width: 33%;
  padding: 1rem;
}
footer .section-2 .sub-section-2 h2 {
  font-size: 2rem;
}
.footer-links-container {
  margin-right: 3rem;
}
.subscribe-section {
  margin-left: 4rem;
}

footer .section-2 input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  margin: 1rem 0;
  padding: 1rem;
  outline: 0;
  background: black;
  caret-color: white;
  color: white;
  font-weight: 500;
}
footer .section-2 p {
  width: 70%;
  font-size: 1rem;
  /* margin-top: 1rem; */
  line-height: 2rem;
}
footer .subscribe-btn {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  width: 50%;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: #dbdbdb;
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
}
footer .subscribe-btn:hover {
  color: red;
  background: black;
  border: 1px solid red;
}
.footer-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link {
  margin: 1rem;
}
footer .section-2 .footer-link-topic {
  margin: 0 0 2rem 0;
  font-size: 1.4rem;
}
footer .footer-links {
  font-size: 1rem;
}
footer .footer-links li {
  transition: 0.5s ease-in-out;
  margin: 0.5rem;
}
footer .footer-links li:hover {
  font-size: 1.3rem;
}
footer .footer-links li a {
  transition: 0.5s ease-in-out;
}
footer .footer-links li a:hover {
  color: red;
  transition: 0.5s ease-in-out;
}
/*footer contact us*/
footer .contact-us .contact-us-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #dbdbdb;
  color: black;
  border-radius: 10px;
  width: 75%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  vertical-align: center;
  margin: 0.75rem auto;
}
footer .contact-us .contact-us-info:hover {
  width: 80%;
  color: red;
}
footer .contact-us-info div img {
  /* width: 100%; */
  margin: 0 1.5rem 0 0;
  width: 35px;
  border-radius: 50%;
}
